<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods || foods.length <= 0"
  resetLinkText="Reset Search!">
</app-not-found>

<div class="container text-center">

  <div class="row ">
    <div class="col-lg-4 col-md-6 col-sm-6 mb-3" *ngFor="let food of foods">

        <div class="content">
          <a routerLink="/food/{{food.id}}" class="text-decoration-none">
            <img src="{{food.imgUrl}}" class="w-100">


          <div class="item">
            <div class="name d-flex justify-content-between">
              {{food.name}}
              <span class="fav {{food.favorite?'':'not'}}"><i class="fa fa-heart"></i> </span>
            </div>

            <div class="stars mb-1">
              <star-rating
                [value]="food.stars"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="black"
                size="20px"
                [readonly]="true">
              </star-rating>
            </div>

            <div class="product-item d-flex justify-content-between align-items-center">
              <div class="origins">
                <span *ngFor="let origin of food.origins">
                    {{origin}}
                </span>
              </div>

              <div class="cook-time">
                <span><i class="fa fa-clock"></i> {{food.cookTime}}</span>
              </div>
            </div>

            <div class="price">
              <span>{{food.price|currency}}</span>
            </div>
          </div>
        </a>

        </div>
    </div>
  </div>
</div>
